*.log
.DS_Store
node_modules
dist
scratch.js
nodeblocks-*-adapter.html
coverage
gae/app.yaml
gae/.npmrc
apple-private-key.p8
.vscode/settings.json
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
tsdocs
.env